.slider
  &-container
    display: flex
    align-items: center
    flex-direction: column
  &__title
    margin: 0 0 10px 0
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 40px
    color: #121212
  &__subtitle
    margin: 0 0 50px 0
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 20px
    color: #696969
  &-box
    border-top: 1px solid red
